## Create a population dataset

In [40]:
import pandas as pd

pd = pd.read_csv('./Population/population.csv')

## Task 1: Find out how many people are named "Riley" in the dataset

In [41]:
name = "Riley"
pd[pd['name'] == name]

      name  age eye_color favorite_color
11   Riley   44      gray          green
51   Riley   55      blue          green
67   Riley   12     brown         yellow
158  Riley   54     green          brown

## Task 2: Find out how many people have brown eyes in the dataset

In [42]:
eye_color = "brown"
pd[pd['eye_color'] == eye_color]

          name  age eye_color favorite_color
26       Emily   34     brown           blue
32      Evelyn   52     brown          brown
42   Alexander   49     brown          brown
52       Aiden   23     brown            red
58       James    6     brown          green
67       Riley   12     brown         yellow
71       Chloe   22     brown           pink
74      Elijah   25     brown           pink
77       Lucas   54     brown           pink
78       Sofia   13     brown            red
79        Liam   50     brown          white
87     Michael   42     brown          brown
90       Aiden    6     brown            red
94      Samuel   40     brown         orange
96       Lucas   44     brown           blue
98       Aiden   27     brown          brown
107     Evelyn   10     brown          white
118       Liam   44     brown          white
124      Emily    3     brown          brown
127      Lucas   35     brown          black
129    Michael   28     brown          brown
130   Scarlett   54     brown         purple
133     Evelyn   43     brown          black
141    Abigail   64     brown         orange
144     Harper   36     brown         orange
152      Sofia   18     brown          green
155    Abigail   60     brown           pink
161     Daniel   62     brown          brown
168      Aiden   64     brown          green
170      Layla    4     brown         yellow
173      Ethan   29     brown          black

## Task 3: Find out how many people are older than 30 in the dataset

In [43]:
pd[pd['age'] > 30]

          name  age eye_color favorite_color
0      Jackson   38     green         yellow
3          Zoe   45     green          green
6        Chloe   55     green          green
8        Aiden   60     green          brown
9     Benjamin   50      gray         yellow
..         ...  ...       ...            ...
194  Charlotte   45      blue            red
195       Noah   39     hazel          white
197      Lucas   53      blue          white
198       Emma   63     amber           blue
199     Evelyn   65      gray          black

[110 rows x 4 columns]

## Task 4: Find out the youngest and the oldest person in the dataset

In [44]:
pd[pd['age'] == pd['age'].min()]

         name  age eye_color favorite_color
4       James    1     hazel          black
192  Penelope    1      gray           pink

In [45]:
pd[pd['age'] == pd['age'].max()]

          name  age eye_color favorite_color
68      Samuel   65      gray            red
97   Sebastian   65     hazel           blue
199     Evelyn   65      gray          black

## Task 5: Find the undercover agent

There is an undercover agent that we are trying to find. We have these descriptions about the agent:
- The agent's name is 6 characters long
- The agent is older than 30
- The agent has brown eyes
- The agent's favorite color is not brown
- Their name starts with "S"

In [51]:
pd[(pd['name'].apply(len) == 6) & (pd['age'] >= 30) & (pd['eye_color'] == 'brown') & (pd['favorite_color'] != 'brown') & (pd['name'].str.startswith('S'))]

      name  age eye_color favorite_color
94  Samuel   40     brown         orange